# Do not worry about the Mac's Icons:
.DS_Store
*.rtf
*.rtf
*.rtf
TEST_SUITE/list
TEST_SUITE/092319-CSCI42001.rtf
TEST_SUITE/093019-CSCI42001.rtf
TEST_SUITE/103019-CSCI42001.rtf
TEST_SUITE/110419-CSCI42001.rtf
TEST_SUITE/111319-CSCI42001.rtf
TEST_SUITE/112519-CSCI42001.rtf
TEST_SUITE/120219-CSCI42001.rtf
*.doc
